/*////////////// start header ///////////////////*/

.container {
    width: 80%;
    margin: auto;
    max-width: 1500px;
}

.title a {
    color: var(--color-white);
    font-size: 25px;
    font-weight: bold;
    flex: 1;
}

.title a:hover {
    transition: 0.3s;
    color: var(--color-purple);
}

.title:hover {
    transition: 0.3s;
    scale: 1.1;
}

.lite-mode .title a:hover {
    color: #5300b3;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    z-index: 1000;
    transition: 0.3s;
    direction: ltr;

}

html[dir="rtl"] header .nav {
    flex-direction: row-reverse;
}

html[dir="ltr"] header .nav {
    flex-direction: row;
}


header.active {
    background-color: var(--back-color);
    border-bottom: 1px solid var(--border-bottom);

}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex: 2;
}

header nav .links {
    display: flex;
    gap: 40px;
}

header nav .links a {
    color: var(--color-white);
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s;

}

header nav .links a:hover {
    color: var(--color-purple);

}

.lite-mode header nav .links a:hover {
    color: #5300b3;
}

.icons #theme-toggle {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 22px;
}

.icons #theme-toggle i:hover {
    cursor: pointer;
    text-shadow: var(--color-white);
    text-shadow: 0 0 5px var(--color-purple);
    scale: 1.1;
}

.icons #chang-lang {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 20px;

}

.icons #chang-lang:hover {
    cursor: pointer;
    text-shadow: var(--color-white);
    text-shadow: 0 0 5px var(--color-purple);
    background-color: rgba(214, 177, 255, 0.2);
    padding: 5px;
    border-radius: 10px;
}



/*////////////// end header ///////////////////*/