/*////////////// 2-section-My Skills///////////////////*/

.Skills {
    margin-top: 80px;
    padding: 70px 0;
}

.Skills h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 33px;
    text-align: center;
    height: 100px;
    color: var(--color-white);

}

.Skills h1 span {
    color: var(--color-purple);
}

.cards-group {
    margin-bottom: 40px;
}

.cards-group h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--color-purple);
    color: var(--color-white);
}

.cards-group i {
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--color-purple);
}

.cards {
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;

}

.skill-card {
    background-color: var(--back-color);
    padding: 30px 20px;
    width: 200px;
    height: 150px;
    color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0 0 8px var(--color-purple);
}

.lite-mode .skill-card i {
    background-color: #e9e0ff;
    border: 1px solid #8235db;
}

.skill-card:hover {
    scale: 1.1;
    transition: 0.3s, color 0.3s;
}

.skill-card i {
    background-color: var(--color-white);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
}

.skill-card h4 {

    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    margin-top: 20px;
}

/*////////////// end 2-section-My Skills///////////////////*/