:root {

    --color-purple: #b16ffd;
    --color-white: #fff;
    --color-black: #070707;
    --bk-color: #1F1F1F;
    --back-color: #160242;
    --background-lines: rgba(189, 189, 189, 0.1);
    --border-bottom: rgba(199, 204, 252, 0.5);
    --div_Text: rgb(141, 126, 171);
    --hover: rgb(237, 222, 247);
    --color-p: #c7ccfc;
}


.lite-mode {

    --color-purple: #5300b3;
    --color-white: #070707;
    --color-black: #fff;
    --bk-color: #ffffff;
    --back-color: #f6f6f6;
    --background-lines: rgba(50, 50, 50, 0.05);
    --border-bottom: rgba(124, 58, 237, 0.3);
    --div_Text: #4b5563;
    --hover: #ede9fe;
    --color-p: #333333;

}